body {
  background-color: #F1F5F8;
  width: 100%;
}

.bg {
      min-height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 !important;
      overflow: auto;
      background-image: url(./images/pdax-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.row {
  padding-bottom: 15px;
}

.header{
  color: #325AD7 !important;
  padding-bottom: 30px;
}

.paperContainer{
  padding: 50px;
}

.branding{
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn-submit {
  width: 100%;
}

table, th, td 
        {
            margin:10px 0;
            border:solid 1px #333;
            padding:2px 4px;
            font:15px Verdana;
        }
        th {
            font-weight:bold;
        }
		
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility:hidden;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}